@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

input,textarea{
    &:focus{
        outline: none;
    }
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
}



#cheaterGPT__container{
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    padding-top: 0;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    &.hide{
        opacity: 0;
        z-index: -10000;
        pointer-events: none;
    }

    #beforeAPIkey{
        // display: none;
    }
    #afterAPIkey{
        display: none;
    }

    #gptHolder{
        height: 2rem;
        width: auto;
        text-align: center;
        width: 100%;
        cursor: move;
    }
    .gptField{
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            border: none;
            border-bottom: 1px solid darkslategray;
            padding: 0.2rem 0.3rem;
        }
        img{
            height: 1.5rem;
            width: auto;
            cursor: pointer;
        }
    }
    #gptAnswer{
        $this-height:100px;
        overflow: auto;
        min-height: $this-height;
        max-height: $this-height;
        min-width: 100%;
        max-width: 50vw;
        margin-top: 1rem;
        background-color: lightgrey;
        border-radius: 5px;
        // border: 1px solid black;
        p{
            margin: 0.2rem 0;
        }
    }
}


